/* everywhere else 

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
*/

table { 
  width: 100%; /* Ширина таблицы */
//  border: 4px double black; /* Рамка вокруг таблицы */
  border-collapse: collapse; /* Отображать только одинарные линии */
    table-layout: fixed;
/*2017.05.17  
  min-height: 100%;
  height: 100%;
*/  
  border-bottom: 0px solid white; 
/*  font-size: 1vw;*/
}

.Washing { 
  font-size: 1.6vw;
}

th {
  border: 1px solid #999;
  font-weight: normal;
/*  font-size: 1vw; */
  font-size: 100%; 
}

@font-face {
  font-family: RoadFont; /* Имя шрифта */
   src: url(font/RoadNumbers2.0.ttf); /*Путь к файлу со шрифтом */
/*  src: url(font/RoadNumbers2.0.otf);  Путь к файлу со шрифтом */
}

td {
  border: 1px solid #999;
/*  padding: 0.5rem; */
  vertical-align: top;

/*  padding: 0;*/
/*  
  padding-top: 1px;
*/  
/*  padding-bottom: 1px;*/
  height: 100%;
/*
  font-weight: normal; 
  font-family: RoadFont; 
  font-size: 210%; 
  text-align: center;
*/  
}

.Cell {
  position: relative;
/*  border: 1px solid #999;*/
  border-bottom: 1px solid #999; 
/*  border-top: 1px solid #999; */
  padding: 0.5rem; 
/*  padding-bottom: 0.5rem; */
}

.CellNumber {
/*  
  position: relative;
  top: 0;
  left: 0;
*/
  font-weight: normal; 
  font-family: RoadFont; 
  font-size: 210%; 
  text-align: center;
}

.backgroundtext {
  visibility: hidden; /* while */

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  overflow: hidden;
  color: gray;
  opacity: 0.2;

  width: 100%;
  text-align: right;
}



/* Цвет фона ячеек */
/*
th { 
  background: #ccc; 
}
*/


/* Ожидание автомобиля */
.HeadCell_00_1 {
//  background: yellow;
}
/* Приемка */
.HeadCell_01_1 {
  background: #00FF00;
}
/* Мойка (ожидание) */
.HeadCell_02_0 {
  background: lightpink;
}
/* Мойка */
.HeadCell_02_1 {
  background: #6495ED;
}
/* Прямая приемка (ожидание) */
.HeadCell_04_0 {
  background: lightpink;;
}
/* Прямая приемка */
.HeadCell_04_1 {
  background: #32CD32;
}
/* Выполнение работ (ожидание) */
.HeadCell_05_0 {
  background: lightpink;
}
/* Выполнение работ */
.HeadCell_05_1 {
//  background: #BA55D3;
//	background: #DB7093;
	background: #DA70D6;
}
/* Контроль качества (ожидание) */
.HeadCell_06_0 {
  background: lightpink;
}
/* Контроль качества */
.HeadCell_06_1 {
  background: #DAA520;
}
/* Подготовка документов */
.HeadCell_07_1 {
  background: #B0E0E6;
}
/* Выдача (ожидание) */
.HeadCell_08_0 {
  background: yellow;
}
/* Выдача */
.HeadCell_08_1 {
  background: #B0E0E6;
}


.Disconnected {
  background: #D3D3D3;
}
/*
@keyframes 'blinc-border' {
  from {
   border: 1px solid #999;       
  }
  25% {
   border: 2px solid #00FF00;       
  }
  50% {
   border: 3px solid #00FF00;       
  }
  75% {
   border: 2px solid #00FF00;       
  }
  to {
   border: 1px solid #999;       
  }
}
*/
@keyframes blincbg {
  from {
   background: #90EE90;
  }
  25% {
   background: #90EE90;
  }
  50% {
   background: #90EE90;
  }
  60% {
   background: inherit;
  }
  to {
    background: inherit;
  }
}

.NewState {
  animation-name: blincbg;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 8;
  animation-direction: normal;
}
/*
a:active {
  text-decoration: 'none' !important;
  color: 'black' !important;
  background-color: yellow;  
}*/

/*.selectedNavLink {
  text-decoration: none;
  color: white;
  background-color: blue;  
}*/